<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rejestracja</title>
</head>
<body>
    <form action="" method="post">
        <label for="loginID">Login:</label><br>
        <input type="text" name="login" id="loginID" required><br>
        <label for="passwordID">Hasło:</label><br>
        <input type="password" name="password" id="passwordID" required><br>
        <label for="firstNameID">Imię:</label><br>
        <input type="text" name="firstName" id="firstNameID" required><br>
        <label for="lastNameID">Nazwisko:</label><br>
        <input type="text" name="lastName" id="lastNameID" required><br>
        <input type="submit" value="Rejestruj">
    </form>
    </body>
</html>